body {    
    overflow-x: hidden;
    background:black;
    }
    ::-webkit-scrollbar{
        width:8px;
      }
      
      ::-webkit-scrollbar-track{
        background:#090909;
      }
      
      ::-webkit-scrollbar-thumb{
        background:linear-gradient(
            180deg,
            #ff1a1a,
            #8b0000
        );
        border-radius:100px;
        border:2px solid #090909;
      }
      
      ::-webkit-scrollbar-thumb:hover{
        background:linear-gradient(
            180deg,
            #ff4040,
            #b30000
        );
      }
      
      html{
        scrollbar-width:thin;
        scrollbar-color:#b30000 #090909;
      }
    .product-container {
        position: relative;
        justify-content: start;
        display: flex;
        flex-direction: column;
        transition: 0.5s;
        height:35vw;
        width:35vw;
        border:2px #8b5a11 solid;
        border-radius:40px;
        padding:1px;
        margin-top:10vw;
    }
    .product-container img{
    width:31vw;
        padding-top:2vw;
    }
     .product-container2 {
        position: relative;
        justify-content: start;
        display: flex;
        flex-direction: column;
        transition: 0.5s;
        height:35vw;
        width:35vw;
        border:2px #8b5a11 solid;
        border-radius:40px;
        padding:1px;
        margin-top:10vw;
    }
    
    .product-container2 img{
    width:31vw;
    margin: auto;
    }
    .sidebar{
  
        position:fixed;
    
        top:0;
        left:-280px;
    
        width:280px;
        height:100vh;
    
        background:#111;
    
        padding-top:90px;
    
        transition:0.35s ease;
    
        z-index:2000;
    }
    .sidebar a{
        font-family:"metal mania";
        display:block;
    
        color:white;
    
        text-decoration:none;
    
        padding:20px 30px;
    
        font-size:22px;
    
        transition:.3s;
    }
    .close-btn{
    
        position:absolute;
    
        top:20px;
        right:20px;
    
        font-size:35px;
    
        background:none;
    
        border:none;
    
        color:white;
    
        cursor:pointer;
    }
  .navbar{
      position:fixed;
      top:0;
      left:0;
     width:100vw;
      height:7vw;
  
      background:#ffffff;
  
      display:flex;
      justify-content:space-between;
      align-items:center;
  
      padding:0 30px;
  
      z-index:1000;
  
      box-shadow:0 2px 10px rgba(0,0,0,.08);
  }
  
  .nav-left i,
  .nav-right i{
      font-size:2.5vw;
      cursor:pointer;
      color:#111;
      transition:.3s;
  }
  .nav-right img{
  width:3vw;
    margin-right:7vw;
  
  }
  
  .nav-left i:hover,
  .nav-right i:hover{
      color:#850000;
  }
  
  /* Center Logo */
  .nav-center{
      position:absolute;
      left:48%;
      transform:translateX(-50%);
      margin-top:1vw;
  }
  
  .nav-center img{
      height:9vw;
  }
  
  /* Push page below navbar */
  .content{
      padding-top:100px;
  }
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transform: translateX(100px);

    transition:
        opacity .5s ease,
        transform .5s ease,
        visibility 0s linear .5s;
}

.slide.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    transform: translateX(0);

    transition:
        opacity .5s ease,
        transform .5s ease;
}
    .prev, .next {
        position: absolute;
        top:30%;
        
        background: rgb(0 0 0 / 0%);
        color: #ffffff;
        border-style: none;
        border-color: currentcolor;
        border-image: initial;
        cursor: pointer;
        font-size:clamp(50px,25vw,80px);
        padding: 10px;
        border-radius: 100%;
        z-index: 1000;
    }
    
    .prev {
        left: -75px;
            -webkit-tap-highlight-color: transparent;
        outline: none;
    }
    
    .next {
        right: -75px;
            -webkit-tap-highlight-color: transparent;
        outline: none;
    }
    
    .describing {
        width: 30%;
        height:550px;
        color: rgb(251 251 251);
        font-weight: 900;
        display: flex;
        margin-left:10vw;
        margin-top:6vw;
        justify-content:center;
        margin: auto 1;
        flex-direction:column;
        
    }
    .related-category{
        margin-top:12vw;
        font-size:4vw;
        color:white;
        font-family:"Metal Mania", serif;
        margin-top:10vw;
    }
    .relatedproducts{
            font-family:"Metal Mania", serif;
        flex-direction:column;
         width:61vw;
        display:flex;
        flex-direction:row;
        margin-top:8vw;
        transform:translatey(-5vw);
        background:#000000;
        overflow-x:auto;
        gap:20px;
        margin-top:0vw;
    }
    .relatedproducts img{
     width:27vw;
    height:26vw;
    border:3px red solid;
    border-radius:30px;
     -webkit-tap-highlight-color: transparent;
    outline: none;
    user-select: none;
    }
    .description {
        color: rgb(255, 255, 255);
        font-size:4.5vw;
        font-weight: 800;
        height:30px;
        width:50vw;
        font-family:"Metal Mania", serif;

    }
    html {
    scrollbar-width: thin;
    scrollbar-color: #8b0000 #111;
}
    .producttext {
        margin-top:0.5vw;
        display: flex;
        width:40vw;
        
       
        
    }
    
    .logo-contain2{
        display:flex;
        width: 100%;
        height:16vw;
        background: rgb(58 49 49 / 0%);
    }
    
    .logo2 {
        width: 30vw;
        height: 20vw;
        display: block;
        background: transparent;
    }
    
    .buttonsbox {
        position: fixed;
        top:50%;
        right:5px;
        transform: translateY(-50%);
        width:clamp(300px,40vw,350px);
        height:clamp(800px,50vw,1900px);
          background: rgb(47 42 42);
        border: 4px solid rgb(86 0 0);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        gap: 100px;
        justify-content:center;
    }
    
    .buy, .back{
        width: 100%;
        height: 80px;
        font-weight: 900;
        font-size:30px;
        border-radius: 30px;
        cursor: pointer;
        background:#ff07004a;
        border:6px #000000 solid ;
        -webkit-tap-highlight-color: transparent;
        outline: none;
        user-select: none;
        
    }
    .productss1.slide{
            height:auto;
        width:35vw;
        }
    .products2.slide{
     mask-image: radial-gradient( ellipse at center,
          #000000 80%,
        #ff000000 100% );
         height:32vw;
        margin-left:2vw;
    }
    .products3.slide{
                mask-image: radial-gradient( ellipse at center,   
        #000000 43%,
        #ffffff00 62% );
         height:35vw;
        margin-left:2vw;
        }
    .products4.slide{
        mask-image: radial-gradient( ellipse at center,   
        #000000 50%,
        #ffffff00 58% );
         height:35vw;
        margin-left:2vw;
        
    }
    @keyframes fadeIn{
        from{
            opacity:0;
            transform:translateY(30px);
        }
    
        to{
            opacity:1;
            transform:translateY(0);
        }
    }
    .describing{
        animation:fadeIn 0.8s ease;
    }


.alt-product{
height:30vw;
margin-left:3vw;
}















    @media (max-width: 766px) {
        body {
            overflow-x: hidden;
            
        }
        
   .navbar{
      position:fixed;
      top:0;
      left:0;
     width:100vw;
      height:15vw;
  
      background:#ffffff;
  
      display:flex;
      justify-content:space-between;
      align-items:center;
  
      padding:0 30px;
  
      z-index:1000;
  
      box-shadow:0 2px 10px rgba(0,0,0,.08);
  }
  
  .nav-left i,
  .nav-right i{
      font-size:6.5vw;
      cursor:pointer;
      color:#111;
      transition:.3s;
  }
  .nav-right img{
  width:8vw;
    margin-right:14vw;
  
  }
  
  .nav-left i:hover,
  .nav-right i:hover{
      color:#850000;
  }
  
  /* Center Logo */
  .nav-center{
      position:absolute;
      left:50%;
      transform:translateX(-85%);
      margin-top:1vw;
  }
  .nav-center img{
    height:15vw;
  }
.alt-product{
height:80vw;
margin-left:0vw;
width:70vw;
}
    
    /* Push page below navbar */
    .content{
        padding-top:10px;
    }
    .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transform: translateX(100px);

    transition:
        opacity .5s ease,
        transform .5s ease,
        visibility 0s linear .5s;
}
    .productss.slide{
            height:auto;
            display:flex;
        }
.slide.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    transform: translateX(0);

    transition:
        opacity .5s ease,
        transform .5s ease;
}
    
        .prev, .next {
                -webkit-tap-highlight-color: transparent;
        outline:none;
            position:absolute;
            top: 50%;
            transform: translateY(-50%);
            color: #ffffff;
            border-width: medium;
            border-style: none;
            border-color: currentcolor;
            border-image: initial;
            cursor: pointer;
            font-size:10vw;
        }
    
        .prev {
            right:60vw;
        }
    
        .next {
            left: 60vw;
        }
    
        .describing {
            width: 100%;
            height:100%;
            background: #f7eaea00;
            font-weight: 900;
            display: flex;
            flex-direction:column;
            align-items: center;
            justify-content:center;
            overflow:hidden;
            margin:auto;
        }
    
        .description {
            color: rgb(255, 255, 255);
            font-size:clamp(25px,9vw,30px);
            text-align: start;
            margin:auto;
            
            font-size:40px;
            width:300px;
        }
        .related-category{
        margin-top:-10vw;
        font-size:9vw;
        color:white;
        font-family:"Metal Mania", serif;}
         .relatedproducts{
        color:white;
        flex-direction:row;
        width:100%;
        height:50vw;
        display:flex;
        margin-top:-10vw;
        transform:translateX(1vw);
             overflow-x:auto;
        
    }
    .relatedproducts img{
        width:40vw;
        height:39vw;
    }
    
        .producttext {
            width:300px;
            transform:translatey(-40vw);
            margin-top:48vw;
        }
    
        .product-container {
            position: relative;
            width:70vw;
            height:100vw;
            margin-top:20vw;
            border:1.9px #804500 solid;
            justify-content:center;
            align-items:center;
            margin-left:4vw;
        
            
        }
          .product-container2 {
        position: relative;
        justify-content: start;
        display: flex;
        flex-direction: column;
        transition: 0.5s;
        height:100vw;
        width:90vw;
        border:2px #8b5a11 solid;
        border-radius:40px;
        padding:1px;
        margin-top:30vw;
    }
    
    .product-container2 img{
    width:80vw;
    margin: auto;
    }
    
    
    .productss1 {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 80vw;
        margin: auto 0;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        
    }
    
    
    .buttonsbox {
        transform:translatey(-10vw);
        margin:auto ;
        position: static;
       width:90vw;
        height:20vw;
        display:flex;
        flex-direction: row;
        align-items: center;
        gap:44px;
        border:none;
        background:none;
        border-radius:40px;
        padding: 14px 0;
        margin-top:-13vw;
        
    }
    
    .buy, .back {
        background:#525252;
        color:#ffffff;
        border:2px #929292 solid;
        margin-top:0px;
        font-weight: 900;
        width: 60vw;
        height:15vw;
        border-radius: 40px;
        font-size:4.3vw;
        font-family:aria;
        
        -webkit-tap-highlight-color: transparent;
        outline: none;
        user-select: none;
    }
        .buy{
        background:#ff000036;
        }
        .back{
        background:#171717;
        }
    .productss1.slide{
            height:auto;
            margin-top:9vw;
            width:62vw;
            margin-left:5vw;
        
            
        }
    .products2.slide{
     mask-image: radial-gradient(ellipse at center,  #000000 40%, #ff000000 92% );
         height:auto;
        width:70vw;
        margin-left:0vw;
    }
    .products3.slide{
        mask-image: radial-gradient( ellipse at top,   
        #000003 50%,
        #ffffff00 80% );
         height:auto;
        width:65vw;
        border:2px black solid;
        border-radius:10vw;
        margin: auto 0;
        
    }
    .products4.slide{
        mask-image: radial-gradient( ellipse at center,   
        #000003 55%,
        #ffffff00 78% );
        height:auto;
        width:75vw;
        margin:auto 0;

        
    }

        .relatedproducts,
        .related,
        .related2{
             -webkit-tap-highlight-color: transparent;
        outline: none;
        user-select: none;
        }
    }



























 @media (min-width: 767px) and (max-width: 1024px) {
    body {    
        overflow-x: hidden;
        background:#000000;
        }
        ::-webkit-scrollbar{
            width:8px;
          }
          
          ::-webkit-scrollbar-track{
            background:#090909;
          }
          
          ::-webkit-scrollbar-thumb{
            background:linear-gradient(
                180deg,
                #ff0000,
                #8b0000
            );
            border-radius:100px;
            border:2px solid #090909;
          }
          
          ::-webkit-scrollbar-thumb:hover{
            background:linear-gradient(
                180deg,
                #ff4040,
                #b30000
            );
          }
          
          html{
            scrollbar-width:thin;
            scrollbar-color:#b30000 #090909;
          }
        .product-container {
            margin-top:20vw;
            position: relative;
            justify-content: start;
            display: flex;
            flex-direction: column;
            transition: 0.5s;
            height:40vw;
            width:40vw;
        }
        .sidebar{
      
            position:fixed;
        
            top:0;
            left:-280px;
        
            width:280px;
            height:100vh;
        
            background:#111;
        
            padding-top:90px;
        
            transition:0.35s ease;
        
            z-index:2000;
        }
        .sidebar a{
            font-family:"metal mania";
            display:block;
        
            color:white;
        
            text-decoration:none;
        
            padding:20px 30px;
        
            font-size:22px;
        
            transition:.3s;
        }
        .close-btn{
        
            position:absolute;
        
            top:20px;
            right:20px;
        
            font-size:35px;
        
            background:none;
        
            border:none;
        
            color:white;
        
            cursor:pointer;
        }
      .navbar{
          position:fixed;
          top:0;
          left:0;
         width:100vw;
          height:7vw;
      
          background:#ffffff;
      
          display:flex;
          justify-content:space-between;
          align-items:center;
      
          padding:0 30px;
      
          z-index:1000;
      
          box-shadow:0 2px 10px rgba(0,0,0,.08);
      }
      
      .nav-left i,
      .nav-right i{
          font-size:2.5vw;
          cursor:pointer;
          color:#111;
          transition:.3s;
      }
      .nav-right img{
      width:3vw;
        margin-right:7vw;
      
      }
      
      .nav-left i:hover,
      .nav-right i:hover{
          color:#850000;
      }
      
      /* Center Logo */
      .nav-center{
          position:absolute;
          left:48%;
          transform:translateX(-50%);
          margin-top:1vw;
      }
      
      .nav-center img{
          height:9vw;
      }
      
      /* Push page below navbar */
      .content{
          padding-top:100px;
      }
    .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    
        transform: translateX(100px);
    
        transition:
            opacity .5s ease,
            transform .5s ease,
            visibility 0s linear .5s;
    }
    
    .slide.active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    
        transform: translateX(0);
    
        transition:
            opacity .5s ease,
            transform .5s ease;
    }
        .prev, .next {
            position: absolute;
            top:30%;
            
            background: rgb(0 0 0 / 0%);
            color: #ffffff;
            border-style: none;
            border-color: currentcolor;
            border-image: initial;
            cursor: pointer;
            font-size:clamp(50px,25vw,80px);
            padding: 10px;
            border-radius: 100%;
            z-index: 1000;
        }
        
        .prev {
            left: -75px;
                -webkit-tap-highlight-color: transparent;
            outline: none;
        }
        
        .next {
            right: -75px;
                -webkit-tap-highlight-color: transparent;
            outline: none;
        }
        
        .describing {
            width: 30%;
            height:550px;
            color: rgb(251 251 251);
            font-weight: 900;
            display: flex;
            margin-left:10vw;
            margin-top:6vw;
            justify-content:center;
            margin: auto 1;
            flex-direction:column;
            
        }
        .related-category{
            margin-top:20vw;
            font-size:4vw;
            color:white;
            font-family:"Metal Mania", serif;
        }
        .relatedproducts{
                font-family:"Metal Mania", serif;
            flex-direction:column;
             width:63.6vw;
            display:flex;
            flex-direction:row;
            margin-top:8vw;
            transform:translatey(-5vw);
            background:#000000;
            overflow-x:auto;
            gap:20px;
        }
        .relatedproducts img{
             -webkit-tap-highlight-color: transparent;
        outline: none;
        user-select: none;
        border:2px red solid;
        width:37vw;
        height:35vw;
        border-radius:25px;
        }
        .description {
            color: rgb(255, 255, 255);
            font-size:3.5vw;
            font-weight: 800;
            height:30px;
            width:50vw;
            font-family:"Metal Mania", serif;
    
        }
        html {
        scrollbar-width: thin;
        scrollbar-color: #8b0000 #111;
    }
        .producttext {
            margin-top:9.5vw;
            display: flex;
            
           
            
        }
        
        .logo-contain2{
            display:flex;
            width: 100%;
            height:16vw;
            background: rgb(58 49 49 / 0%);
        }
        
        .logo2 {
            width: 30vw;
            height: 20vw;
            display: block;
            background: transparent;
        }
        
        .buttonsbox {
            position: fixed;
            top:53%;
            right:5px;
            transform: translateY(-50.5%);
            width:33vw;
            height:93.7vh;
              background: rgb(47 42 42);
            border: 4px solid rgb(86 0 0);
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            gap: 100px;
            justify-content:center;
        }
        
        .buy, .back{
            width: 100%;
            height: 80px;
            font-weight: 900;
            font-size:30px;
            border-radius: 30px;
            cursor: pointer;
            background:#ff07004a;
            border:6px #000000 solid ;
            -webkit-tap-highlight-color: transparent;
            outline: none;
            user-select: none;
            
        }
        .productss1.slide{
                height:auto;
                width:38vw;
            }
        .products2.slide{
         mask-image: radial-gradient( ellipse at center,
              #000000 100%,
            #ff000000 100% );
             height:37vw;
            width:38vw;
            margin-left:0vw;
        }
        .products3.slide{
                    mask-image: radial-gradient( ellipse at top,   
            #000000 100%,
            #ffffff00 100% );
             height:37vw;
            width:38vw;
            margin-left:0vw;
            }
        .products4.slide{
            mask-image: radial-gradient( ellipse at bottom,   
            #000000 60%,
            #ffffff00 70% );
             height:37vw;
             width:35vw;
            margin-left:0vw;
            
        }
        @keyframes fadeIn{
            from{
                opacity:0;
                transform:translateY(30px);
            }
        
            to{
                opacity:1;
                transform:translateY(0);
            }
        }
        .describing{
            animation:fadeIn 0.8s ease;
        }
         .product-container2 {
        position: relative;
        justify-content: start;
        display: flex;
        flex-direction: column;
        transition: 0.5s;
        height:70vw;
        width:50vw;
        border:2px #8b5a11 solid;
        border-radius:40px;
        padding:1px;
        margin-top:30vw;
    }
    
    .product-container2 img{
    width:45vw;
    margin: auto;
    height:45vw;
    }}