body {    
    overflow-x: hidden;
    background:black;
    }
    
    .product-container {
        position: relative;
        justify-content: start;
        display: flex;
        flex-direction: column;
        transition: 0.5s;
        height:20vw;
        width: clamp(300px,25vw,500px);
    }
    
    .slide {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: none;
        opacity:0;
         transform:translateX(100px);
          transition:.5s ease;
    }
    
    .slide.active {
        display: block;
        opacity:1;    
        transform:translateY(0);
    }
    
    .prev, .next {
        position: absolute;
        top:30%;
        
        background: rgb(0 0 0 / 0%);
        color: #d50202;
        border-style: none;
        border-color: currentcolor;
        border-image: initial;
        cursor: pointer;
        font-size:clamp(50px,25vw,80px);
        padding: 10px;
        border-radius: 100%;
        z-index: 1000;
    }
    
    .prev {
        left: -75px;
            -webkit-tap-highlight-color: transparent;
        outline: none;
    }
    
    .next {
        right: -75px;
            -webkit-tap-highlight-color: transparent;
        outline: none;
    }
    
    .describing {
        width: 30%;
        height:550px;
        color: rgb(251 251 251);
        font-weight: 900;
        display: flex;
        margin-left:10vw;
        margin-top:6vw;
        justify-content:center;
        margin: auto 1;
        flex-direction:column;
        
    }
    .related-category{
        margin-top:12vw;
        font-size:4vw;
        color:white;
        font-family:"Metal Mania", serif;
    }
    .relatedproducts{
            font-family:"Metal Mania", serif;
        flex-direction:column;
         width:61vw;
        display:flex;
        flex-direction:row;
        margin-top:8vw;
        transform:translatey(-5vw);
        background:#000000;
        overflow-x:auto;
        gap:20px;
    }
    .relatedproducts img{
        width:27vw;
         -webkit-tap-highlight-color: transparent;
    outline: none;
    user-select: none;
    }
    .description {
        color: rgb(255, 255, 255);
        font-size:3.5vw;
        font-weight: 800;
        height:30px;
        width:50vw;
        font-family:"Metal Mania", serif;

    }
    html {
    scrollbar-width: thin;
    scrollbar-color: #8b0000 #111;
}
    .producttext {
        margin-top:10.5vw;
        display: flex;
        
       
        
    }
    
    .logo-contain2{
        display:flex;
        width: 100%;
        height:16vw;
        background: rgb(58 49 49 / 0%);
    }
    
    .logo2 {
        width: 30vw;
        height: 20vw;
        display: block;
        background: transparent;
    }
    
    .buttonsbox {
        position: fixed;
        top:50%;
        right:5px;
        transform: translateY(-50%);
        width:clamp(300px,40vw,350px);
        height:clamp(800px,50vw,1900px);
          background: rgb(47 42 42);
        border: 4px solid rgb(86 0 0);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        gap: 100px;
        justify-content:center;
    }
    
    .buy, .add-to-cart {
        width: 100%;
        height: 80px;
        font-weight: 900;
        font-size:30px;
        border-radius: 30px;
        cursor: pointer;
        background:#ff07004a;
        border:6px #000000 solid ;
        -webkit-tap-highlight-color: transparent;
        outline: none;
        user-select: none;
        
    }
    .productss.slide{
            height:auto;
            display:flex;
        }
    .productsss.slide{
     mask-image: radial-gradient( ellipse at center,
          #000000 30%,
        #ff000000 98% );
         height:auto;
            display:flex;
    }
    .productssss.slide{
                mask-image: radial-gradient( ellipse at top,   
        #000000 70%,
        #ffffff00 94% );
         height:auto;
        display:flex;}
    .productsssss.slide{
        mask-image: radial-gradient( ellipse at center,   
        #000000 30%,
        #ffffff00 78% );
         height:auto;
        display:flex;
    }
    @keyframes fadeIn{
        from{
            opacity:0;
            transform:translateY(30px);
        }
    
        to{
            opacity:1;
            transform:translateY(0);
        }
    }
    .describing{
        animation:fadeIn 0.8s ease;
    }
   
    @media (max-width: 840px) {
        body {
            overflow-x: hidden;
        }
    
        .slide {
            display: none;
        }
        .productss.slide{
            height:auto;
            display:flex;
        }
        .slide.active {
            display: block;
        }
    
        .prev, .next {
                -webkit-tap-highlight-color: transparent;
        outline: none;
            position: absolute;
            top: 40vw;
            transform: translateY(-50%);
            color: #ffffff;
            border-width: medium;
            border-style: none;
            border-color: currentcolor;
            border-image: initia;
            cursor: pointer;
            font-size:10vw;
        }
    
        .prev {
            right:58vw;
        }
    
        .next {
            left: 58vw;
        }
    
        .describing {
            width: 100%;
            height:auto;
            background: #00000000;
            font-weight: 900;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow:hidden;
            margin:auto 0;
        }
    
        .description {
            color: rgb(255, 255, 255);
            font-size:clamp(25px,9vw,30px);
            font-weight: 500;
            text-align: center;
            margin:auto;
            
            font-size:40px;
            width:300px;
        }
         .relatedproducts{
        color:white;
        flex-direction:row;
        width:100%;
        display:flex;
        margin-top:0vw;
        transform:translateX(1vw);
             overflow-x:auto;
        
    }
    .relatedproducts img{
        width:60vw;
    }
    
        .producttext {
            width:300px;
            transform:translatey(-150px);
            margin-top:240px;
        }
    
        .product-container {
            position: relative;
            width:80vw;
            height:80vw;
            justify-content:center;
            align-items:center;
            margin:auto 0;
        }
    
    
    .productss {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 80vw;
        margin: auto 0;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        
    }
    
    .logo-contain2 {
        margin:auto 0;
        width: 100%;
        height:45vw;
        background: rgba(255, 0, 0, 0);
        justify-content: center;
        align-items: center;
    }
    
    .logo2 {
        width: 100%;
        height: auto;
        display: block;
        background: transparent;
        justify-content: center;
        align-items:center;
    }
    
    .buttonsbox {
        transform:translatey(-14vw);
        margin:auto ;
        position: static;
       width:90vw;
        height:25vw;
        display:flex;
        flex-direction: column;
        align-items: center;
        row-gap:9px;
        background: rgb(51 0 0);
        border: 1vw solid rgb(185 185 185);
        border-radius: 700px;
        padding: 15px 0;
    }
    
    .buy, .add-to-cart {
        background:#5252529c;
        color:#ffffff;
        border:2px #929292 solid;
        margin-top:0px;
        font-weight: 900;
        width: 70vw;
        height:40vw;
        border-radius: 20px;
        font-size:27px;
        -webkit-tap-highlight-color: transparent;
        outline: none;
        user-select: none;
    }
    .productss.slide{
            height:auto;
            display:flex;
        }
    .productsss.slide{
     mask-image: radial-gradient(ellipse at center,  #000000 40%, #ff000000 92% );
         height:auto;
            display:flex;
    }
    .productssss.slide{
        mask-image: radial-gradient( ellipse at top,   
        #000003 80%,
        #ffffff00 94% );
         height:auto;
        display:flex;}
    .productsssss.slide{
        mask-image: radial-gradient( ellipse at center,   
        #000003 20%,
        #ffffff00 78% );
         height:auto;
        display:flex;
    }
        .relatedproducts,
        .related,
        .related2{
             -webkit-tap-highlight-color: transparent;
        outline: none;
        user-select: none;
        }
    }
    
    .productss.slide{
            height:auto;
            display:flex;
        };
    