body {
    margin: 0;
    min-height: 100vh;
    overflow-x:hidden;
   background:#000000;
    overflow-y:scroll;
    body::-webkit-scrollbar {
      display: none;
  }
  }
  html {
      scrollbar-width: thin;
      scrollbar-color: #8b0000 #111;
  }
  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  #loader{
      position:fixed;
      inset:0;
  
      background:#050000;
  
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
  
      z-index:999999;
  
      transition:opacity .8s ease,
                 visibility .8s ease;
  }
  .sidebar{
  
      position:fixed;
  
      top:0;
      left:-280px;
  
      width:280px;
      height:100vh;
  
      background:#111;
  
      padding-top:90px;
  
      transition:0.35s ease;
  
      z-index:2000;
  }
  .sidebar a{
      font-family:"metal mania";
      display:block;
  
      color:white;
  
      text-decoration:none;
  
      padding:20px 30px;
  
      font-size:22px;
  
      transition:.3s;
  }
  .close-btn{
  
      position:absolute;
  
      top:20px;
      right:20px;
  
      font-size:35px;
  
      background:none;
  
      border:none;
  
      color:white;
  
      cursor:pointer;
  }
  .loader-logo{
      width:260px;
      animation:pulse 2s infinite;
  }
  
  .loader-text{
      margin-top:25px;
  
      color:#ffffff;
  
      font-size:25px;
  
      font-family:"Metal Mania", serif;
  
      letter-spacing:2px;
  
      animation:pulse 2s infinite;
  }
  
  #loader.hidden{
      opacity:0;
      visibility:hidden;
  }
  
  @keyframes pulse{
  
      0%,100%{
          transform:scale(1);
      }
  
      50%{
          transform:scale(1.05);
      }
  }
  
  *{
      margin:0;
      padding:0;
      box-sizing:border-box;
  }
  
  body{
      font-family:Arial, sans-serif;
  }
  
  /* Navigation */
  .navbar{
      position:fixed;
      top:0;
      left:0;
      width:100%;
      height:6vw;
  
      background:#ffffff;
  
      display:flex;
      justify-content:space-between;
      align-items:center;
  
      padding:0 30px;
  
      z-index:1000;
  
      box-shadow:0 2px 10px rgba(0,0,0,.08);
  }
  
  .nav-left i,
  .nav-right i{
      font-size:2.5vw;
      cursor:pointer;
      color:#111;
      transition:.3s;
  }
  .nav-right img{
  width:3vw;
  
  }
  
  .nav-left i:hover,
  .nav-right i:hover{
      color:#850000;
  }
  
  /* Center Logo */
  .nav-center{
      position:absolute;
      left:50%;
      transform:translateX(-50%);
      margin-top:1vw;
  }
  
  .nav-center img{
      height:9vw;
  }
  
  /* Push page below navbar */
  .content{
      padding-top:100px;
  }
  
      .line{
          margin-top:5VW;
          width:120vw;
      height:0.3vw;
        color:#00000000;
        
        background:#850000;
  
        
      
        
      }
      .DES{
        
        color:black;
         font-family: "metal mania", serif;
        font-size:5vw;
        animation: glow 3s ease-in-out infinite;
        text-align:center;
        
        height:3vw;
        
        padding-top:13px;
        margin-top:20vw;
      }
      .start{
        text-align:center;
        color:black;
        animation: glow 3s ease-in-out infinite;
         font-family: "metal mania", serif;
        margin-top:30px;
          font-size:4vw;
      }
      
        .products {
          
          height:50vw;
  
          display: grid;
  
          grid-template-columns: repeat(3, 1fr);
  
          column-gap: 5vw;          /* Space between images */
          
          margin-top: 20px;
          
          height:auto;
           
          overflow-x: hidden;   
           
          overflow-y:auto; 
        
            white-space: nowrap; /* bte3ml wrap lel text elly w5da space*/
            padding: 20px;
  
        }
        
        .products::-webkit-scrollbar {
            height: 8px;
        }
        
        .product {
            flex: 0 0 auto; /* Prevents shrinking */
                 overflow-x: hidden;
        }
        .product1 img{
            margin-top:-4vw;
            width:28vw;  
            height:auto;
      }
    
      .product2 img{
  width:28vw;        
  height:auto;
    }
    
    .product3 img{
          width:28vw;  
        height:auto;
  }
      
      .product4 img {
  width:28vw;  
          height:auto;
      
        margin-top: 6vw;
  
        object-fit: contain;
      }
      .product5 img{
        width:min(480px,80vw);
      height:auto;
  }
      .bottoms{
         display:grid;
        grid-template-columns:repeat(3, 1fr);
        height:auto;
        gap:40px;
        white-space: nowrap;
        overflow:hidden;
  
  
      }
      .pants1 img{
      width:30vw;
        height:auto;
    }
  
      .pants2 img{
  
          width:30vw;
  
          height:auto;
      }
        .PANTS {
               font-size:5vw;
            text-align: center;
             font-family: "metal mania", serif;
            color:black;
             animation: glow 3s ease-in-out infinite,fadeIn 0.8s ease;
             
        }
        @keyframes glow {
          0%, 100% {
              text-shadow: 0 0 4px #ff0000, 0 0 8px #ff0000;
          }
      
          25% {
              text-shadow: 0 0 5px #ff1111, 0 0 10px #ff1111;
          }
      
          50% {
              text-shadow: 0 0 7px #ff2222, 0 0 14px #ff2222, 0 0 24px #ff2222;
          }
      
          75% {
              text-shadow: 0 0 5px #ff1111, 0 0 10px #ff1111;
          }
      }
  
     @media (max-width: 768px) {
         body{
          overflow-x:hidden;
          
         }
  .navbar{
      position:fixed;
      top:0;
      left:0;
      width:100%;
      height:12vw;
  
      background:#ffffff;
  
      display:flex;
      justify-content:space-between;
      align-items:center;
  
      padding:0 30px;
  
      z-index:1000;
  
      box-shadow:0 2px 10px rgba(0,0,0,.08);
  }
  
  .nav-left i,
  .nav-right i{
      font-size:4.7vw;
      cursor:pointer;
      color:#111;
      transition:.3s;
  }
  .nav-right img{
  width:9vw;
  
  }
  
  .nav-left i:hover,
  .nav-right i:hover{
      color:#850000;
  }
  
  /* Center Logo */
  .nav-center{
      position:absolute;
      left:50%;
      transform:translateX(-50%);
      margin-top:1vw;
  }
  
  .nav-center img{
      height:15vw;
  }
  
  
      .DES{
        font-size:7.7vw;
        
        text-align:center;
        color:black;
        height:50px;
        
        padding-top:3vw;
        margin-top:18vw;
      }
            .start{
        
        text-align:center;
                color:black;
        margin-top:39px;
          font-size:10vw;}
         .PANTS {
             color:black;
               font-size:10vw;
            text-align: center;
         }
  
       .line{
          margin-top:12px;
        color:#00000000;
        
        background:#850000;
  
        
        height:3px;
        
      }
  
         .products {
          width:auto;
          overflow-x: hidden;
          display:flex;
             padding:4vw;
          gap:5vw;          /* Space between images */
          margin-top:-1vw;
          height:100vw; 
          overflow-x:auto;
          overflow-y:hidden;
          scroll-snap-type:x mandatory;
      scroll-behavior:smooth;
           
         }
         .products img{
              scroll-snap-align:center;
  
         }
      .product1{
      background:#00000000;
      height:auto;
      width:100vw;
      padding:7vw;
      border:1px red solid;
      border-radius:30px;
      }
          .product2{
      background:#fdfdfd00;
      width:100vw;
      height:100%;
      padding:2vw;
      border:1px red solid;
      border-radius:30px;
      }
       .product3{
      background:#fdfdfd00;
      height:auto;
      width:auto;
      padding:4vw;
      border:1px red solid;
      border-radius:30px;
      }
       .product4{
      background:#fdfdfd00;
      height:auto;
      width:auto;
      padding:2vw;    
      border:1px red solid;
      border-radius:30px;
      }
  
      .product1 img{
       width:68vw;
       height:84vw;
      margin-top:-6vw;
      
  
      }
    
      .product2 img{
   width:74vw;
          height:69vw;
       margin-top:8vw;
    
    }
    
    .product3 img{
       width:90vw;
      height:auto;
      margin-top:-5vw;
      }
      
      .product4 img {
         width:82vw;
        height:80vw;
        margin-top:-2vw;  
          
         
          }
  
              .bottoms{
          width:auto;
          display:flex;
          padding:5.5vw;
          gap:5vw;          /* Space between images */
          margin-top:10vw;
          height:100vw; 
          overflow-x:auto;
          overflow-y:hidden;
          
          align-items:center;
          scroll-snap-type:x mandatoRy;
          scroll-behavior:smooth;
            /* Prevents scrolling in y axis */
        
            white-space: nowrap;
      
          }
          .bottoms img{
          scroll-snap-align:center;
          }
         .pants1{
      background:#00000000;
      height:auto;
      width:100%;
      padding:3vw;    
      border:1px red solid;
      border-radius:30px;
         }
                .pants2{
      background:#fdfdfd00;
      height:auto;
      width:auto;
      border:1px #ff0000 solid;
      border-radius:30px;
      padding:3vw;    
  
         }
          .pants1 img{
          
       height:auto;
   width:80vw;
  
    }
      .pants2 img{
          height:auto;
          width:80vw;
      }
     }
        @media (min-width: 768px) and (max-width: 1024px) {
          .sidebar{
  
      position:fixed;
  
      top:0;
      left:-280px;
  
      width:280px;
      height:100vh;
  
      background:#111;
  
      padding-top:90px;
  
      transition:0.35s ease;
  
      z-index:2000;
  }
  .sidebar a{
      font-family:"metal mania";
      display:block;
  
      color:white;
  
      text-decoration:none;
  
      padding:20px 30px;
  
      font-size:22px;
  
      transition:.3s;
  }
            
            .DES{
        
        color:#5a090900;
        
        font-size:8vw;
        
        text-align:center;
        
        height:50px;
        
        padding-top:0px;
        margin-top:12vw;
      }
            .PANTS{
      text-align: center;
                color:black;
     font-size:50px;
      }
      .start{
        color:black; 
        text-align:center;
          font-size:6vw;
        margin-top:5vw;
      }
    
          .logo-container{
      width: 100vw;
              height:50vw;
          
      align-items:center;
          
      display: flex;
          
      justify-content: center; /* Center the logo */
          
      padding: 20px 1;
          
      overflow-x:hidden
      }
      .startinglogo-container{
      width:100vw;
      height:50vw;
      }
      .startup{
      width:100%;
      height:48vw;
          
      }
          .logo{
      
      height:60vw;
              width:100vw;
      display: block;
      }
            .products {
      display:flex;
       width:100%;
      gap:2vw;
      align-items:center;
      overflow-x:auto;
                
        }
      .product1{
      height:50vw;
      width:40vw;
      border:4px red solid;
      border-radius:30px;
      padding:2vw;
      }
            .product2{
      height:50vw;
      width:40vw;
      border:4px red solid;
      border-radius:30px;
      padding:4vw;
      }.product3{
      height:50vw;
      width:40vw;
      border:4px red solid;
      border-radius:30px;
      padding:2vw;
      }.product4{
      height:50vw;
      width:40vw;
      border:4px red solid;
      border-radius:30px;
      padding:2vw;
      }
          .product1 img{
       height:auto;
   width:min(380px,100vw);
  padding:3vw;
  margin-left:-3vw; 
  margin-top:1vw;
      }
    
          .product2 img{
   width:min(330px,100vw);
  height:auto;
  margin-top:4vw;
  
    }
    
        .product3 img{
   width:min(350px,100vw);
        margin-top:4vw;
      height:auto;
  }
      
          .product4 img {
   width:min(350px,100vw);
        height:auto;
      
        margin-top: 30px;
  
        object-fit: contain;}
  
    
      .bottoms{
          width:auto;
          display:flex;
          padding:3.5vw;
          gap:9vw;          /* Space between images */
          margin-top:1vw;
          height:100vw; 
          overflow-x:auto;
          overflow-y:hidden;
          
          align-items:center;
          scroll-snap-type:x mandatoRy;
          scroll-behavior:smooth;
            /* Prevents scrolling in y axis */
        
            white-space: nowrap;
      
          }
          .bottoms img{
          scroll-snap-align:center;
          margin-top:10vw;

          }
         .pants1{
      background:#00000000;
      height:70vw;
      width:100%;
      padding:3vw;    
      border:1px red solid;
      border-radius:30px;
         }
                .pants2{
      background:#fdfdfd00;
      height:70vw;
      width:100%;
      border:1px #ff0000 solid;
      border-radius:30px;
      padding:3vw;    
  
         }
          .pants1 img{
          
       height:auto;
   width:50vw;  
    }
      .pants2 img{
          height:auto;
          width:50vw;
      }
  .products img,
  .bottoms img{
      transition: transform 0.3s ease;
  }
  .products img:hover,
  .bottoms img:hover{
      transform: translateY(-8px) scale(1.04);
  }
  @keyframes fadeIn{
      from{
          opacity:0;
          transform:translateY(30px);
      }
  
      to{
          opacity:1;
          transform:translateY(0);
      }
  }
  .title,
  .products,
  .logo,
  .bottoms{
      animation:fadeIn 0.8s ease;
  }
  .logo{
      animation:glow 2.5s infinite;
  }
  html{
      scroll-behavior:smooth;
  }
  .products img:active,
  .bottoms img:active{
      transform:scale(0.97);
  }
  .products img{
      -webkit-tap-highlight-color: transparent;
      outline: none;
  }
  a,
  button,
  img,
  .product1 img,
  .product2 img,
  .product3 img,
  .product4 img,
  .pants1 img,
  .pants2 img{
      -webkit-tap-highlight-color: transparent;
      outline: none;
      user-select: none;
  }
  /* Chrome, Edge, Opera, Safari */
  
  ::-webkit-scrollbar{
    width:8px;
  }
  
  ::-webkit-scrollbar-track{
    background:#090909;
  }
  
  ::-webkit-scrollbar-thumb{
    background:linear-gradient(
        180deg,
        #ff1a1a,
        #8b0000
    );
    border-radius:100px;
    border:2px solid #090909;
  }
  
  ::-webkit-scrollbar-thumb:hover{
    background:linear-gradient(
        180deg,
        #ff4040,
        #b30000
    );
  }
  
  html{
    scrollbar-width:none;
    scrollbar-color:#350e0e #090909;
  }}